/******Fonts*******/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700");
@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
/******EndFonts*****/
/******Clear********/
div::before, ul::before {
  content: '';
  display: table; }

div::after, ul::after {
  content: '';
  display: table;
  clear: both; }

div, a, ul, li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/************Main Code***************/

body{
  font-family: 'Roboto', sans-serif;
  color: #f9f2f2;
  padding: 0;
  margin: 0;
  position: relative;
}
h1, h2, h3, h4 {
  font-family: 'Love Ya Like A Sister', cursive;
}
.section-1{
  height:100vh;
  position: relative;
}
.bg-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -99999;
  background-size: cover;
  right: 0;
  bottom: 0; }

 .section-paralax {
   height: 100vh;
   background: url("../img/bg.jpg");
   background-attachment: fixed;
   -webkit-background-size: cover;
   background-size:cover;
 }
section.section-1 h1.text-center{
  margin-top:35vh;
  font-size: 20rem;
}
/*Space-Rocket*/
.space-rocket{
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  display: none;
}
.space-rocket img{
  height: 10vh;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.space-rocket img:hover, .space-rocket img:active{
  filter: none;
}
  /*EndSR*/
/**Right planet menu**/

nav.menu-left{
  position: fixed;
  padding: 0;
  margin: 0;
  top: 15vh;
  display: none;
  transition: all 2s linear;
}
nav.menu-left ul{
  padding: 0;
  margin: 0;
  position: relative;
}
.small-planet{
  list-style: none;
  margin:1vh;
  padding: 0;
  display: block;
  position: absolute;
}
.small-planet:not(#saturn)
{
  left: 1.6vw;
}
.nav>li>a{
  padding:  0;
  margin: 0;
  position: relative;
}

.nav>li>a:hover{
  background-color: transparent;
}
.small-planet img{
  padding: 0;
  height: 5vh;
  margin: 1vh 0;
  -webkit-filter: sepia(100%) blur(1px);
  -ms-filter: blur(1px);
  filter: sepia(100%) blur(1px);
  -webkit-transition: width 2s, height 4s;
  transition: width 0.5s, height 0.5s;
}

.small-planet img:active, .small-planet img:hover, li.active img{
  filter: none;
  height: 6vh;
}
/*EndRPM*/



/*********************************/
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
